section.section.promo-slides.experts.bg-grey 
	.container 
		h2.mcfr-title ЛИШЕ КРАЩІ ЕКСПЕРТИ-ПРАКТИКИ
		.def-sl#experts-slider
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/LaktionovaLidiya.png')")
				h4.experts-slider-name Лілія Лахтіонова,
				p.experts-slider-desc директорка Департаменту регулювання публічних закупівель — начальниця відділу професіоналізації сфери публічних закупівель Мінекономіки
			
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Mishta.png')")
				h4.experts-slider-name Тетяна Мішта,
				p.experts-slider-desc заступниця директорки Департаменту регулювання публічних закупівель — начальниця відділу професіоналізації сфери публічних закупівель Мінекономіки
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Dubrova.png')")
				h4.experts-slider-name Ярослава Дуброва,
				p.experts-slider-desc консультантка з публічних закупівель
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/ShymkoNatali.png')")
				h4.experts-slider-name Наталія Шимко,
				p.experts-slider-desc керівник групи трансфертного ціноутворення КПМГ в Україні
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Zaets.png')")
				h4.experts-slider-name Наталія Заєць,
				p.experts-slider-desc консультантка з публічних закупівель, канд. економ. наук,
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Kolesnyk.png')")
				h4.experts-slider-name Тетяна Колісник,
				p.experts-slider-desc консультантка з публічних закупівель, Київ
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/artemenko.png')")
				h4.experts-slider-name Крістіна Артеменко,
				p.experts-slider-desc консультантка із закупівель робіт з будівництва, Київ
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Shatkovsky.png')")
				h4.experts-slider-name Олександр Шатковський,
				p.experts-slider-desc міжнародний консультант з публічних закупівель		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/stepanova.png')")
				h4.experts-slider-name Олена Степанова,
				p.experts-slider-desc директорка ТОВ «СІ БІЗНЕС КОНСАЛТИНГ», Одеса
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Boryshpol.png')")
				h4.experts-slider-name Андрій Баришполь,
				p.experts-slider-desc менеджер проєкту із цифрової трансформації Prozorro
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Koba.png')")
				h4.experts-slider-name Тетяна Коба,
				p.experts-slider-desc ексрадниця з питань державних закупівель в. о. Міністра охорони здоров’я Уляни Супрун
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/LaktionovIvan.png')")
				h4.experts-slider-name Іван Лахтіонов,
				p.experts-slider-desc директор Програми інноваційних проєктів Transparency International Ukraine
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Kuzmenko.png')")
				h4.experts-slider-name Андрій Кузьменко,
				p.experts-slider-desc директор Державної установи «Професійні закупівлі»
		
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Smirnov.png')")
				h4.experts-slider-name Микола Смирнов,
				p.experts-slider-desc юрист, партнер ЮК «Правое Дело»
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/ShymkoTaras.png')")
				h4.experts-slider-name Тарас Шимко,
				p.experts-slider-desc експерт ЄБРР, керівник проєкту GPAinUA
		
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/berzina.png')")
				h4.experts-slider-name Світлана Берзіна,
				p.experts-slider-desc експертка Програми ООН з навколишнього середовища (ЮНЕП),  президент ВГО «Жива планета»
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Tishenko.png')")
				h4.experts-slider-name Валентин Тищенко,
				p.experts-slider-desc технічний експерт, консультант з публічних закупівель електроенергії, Київ
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Silvestrov.png')")
				h4.experts-slider-name Євген Сильверстов,
				p.experts-slider-desc ексдиректор Державної установи «Професійні закупівлі»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Kanevska.png')")
				h4.experts-slider-name Аліна Каневська,
				p.experts-slider-desc керівниця проєкту Е-Auction
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Kostyreva.png')")
				h4.experts-slider-name Анна Костирєва,
				p.experts-slider-desc фахівець із розвитку та супроводу замовників проєкту «Держзакупівлі.Онлайн»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Kachursky.png')")
				h4.experts-slider-name Вадим Качуровський,
				p.experts-slider-desc уповноважена особа Державного підприємства «Медичні закупівлі України»
		
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Lytsyk.png')")
				h4.experts-slider-name Василь Луцик,
				p.experts-slider-desc юрист, Київ
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Levadsky.png')")
				h4.experts-slider-name Іван Левадський,
				p.experts-slider-desc експерт з бухобліку та оподаткування в бюджетній сфері, Київ
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Dogadina.png')")
				h4.experts-slider-name Ольга Догадіна,
				p.experts-slider-desc провідна експертка MCFR Кадри
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/vis.png')")
				h4.experts-slider-name Ірина Висіцька,
				p.experts-slider-desc адвокатка, партнерка АО «Адвокатська фірма «Єфімов та партнери», Київ
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/expert_praktik/Efimov.png')")
				h4.experts-slider-name Сергій Єфімов,
				p.experts-slider-desc адвокат, податковий консультант, партнер Адвокатського об’єднання «Адвокатська фірма «Єфімов та партнери»
		

		//- a.button.m-auto(href='https://1gl-vip.expertus.ua/#/document/16/23967/dfasx8n6hu/', target='_blank')  БІЛЬШЕ ЕКСПЕРТІВ
