section.section.promo-slides.experts
	.container 
		h2.mcfr-title РЕДАКЦІЯ СИСТЕМИ
		.def-sl#experts-slider2
					
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Sokolova.png')")
				h4.experts-slider-name Оксана Соколова,
				p.experts-slider-desc головна редакторка журналу «Держзакупівлі»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('')")
				h4.experts-slider-name Мар’яна Микитин,
				p.experts-slider-desc головна редакторка Вищої школи Закупівельника
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('')")
				h4.experts-slider-name Вікторія Максимова,
				p.experts-slider-desc редакторка експертно-правової системи «Expertus: Держзакупівлі»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('')")
				h4.experts-slider-name Фаїна Іскрижицька,
				p.experts-slider-desc експертка МCFR Головбух
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('')")
				h4.experts-slider-name Людмила Кравченко, 
				p.experts-slider-desc керівниця експертної групи МCFR Головбух
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Ozerova.png')")
				h4.experts-slider-name Олена Озерова,
				p.experts-slider-desc провідна консультантка експертної підтримки «Головбух»
			div.experts-slider-item
				.experts-slider-image(style="background-image: url('./images/redactiya/Sych.png')")
				h4.experts-slider-name Оксана Курбатова,
				p.experts-slider-desc консультантка експертної підтримки «Головбух»
	


		//- a.button.m-auto(href='https://1gl-vip.expertus.ua/#/document/16/23967/dfas1id40g/', target='_blank')  УСЯ РЕДАКЦІЯ
