section.section.arg-vid
	.arg-vid__body 
		.container.arg-vid__body-2
			h2.mcfr-title Що ви знайдете в Системі за своїм запитом
			.row
				.col-lg-4
					.arc-col-title
						img(src='./images/formiobrazci.svg')
						span Форми і зразки
					.arc-col-desc
						span Не лише бланки та шаблони, а й зразки заповнення документів, які знадобляться у роботі закупівельника. Можна скачати й заповнити за зразком
						//- a(href="https://1gl-vip.expertus.ua/#/document/16/28519/" target="_blank") Посилання
					.arc-col-title.mt-5
						img(src='./images/service.svg')
						span Сервіси
					.arc-col-desc.nb
						span Навігатори, словники, які допоможуть швидко і безпомилково знайти дані, потрібні у роботі закупівельника
						//- <br />
						//- a(href="https://1gl-vip.expertus.ua/#/document/16/23967/dfasbf174y/" target="_blank") Посилання
				.col-lg-4
					.arc-col-title
						img(src='./images/spravochniki.svg')
						span Офіційні документи
					.arc-col-desc
						span Усі потрібні закупівльнику нормативно-правові документи, листи, роз’яснення, судові рішення
						<br/>
						<br/>
						//- a(href="https://1gl-vip.expertus.ua/#/document/16/23967/dfasb7a9xx/" target="_blank") Посилання
					.arc-col-title.mt-5
						img(src='./images/videoseminari.svg')
						span Відеосемінари
					.arc-col-desc.nb
						span Відеовідповіді знаних лекторів на нагальні запитання закупівельників
						//- <br />
						//- a(href="https://1gl-vip.expertus.ua/#/document/16/28915/" target="_blank") Посилання
					
				.col-lg-4.nb
					.arc-col-title
						img(src='./images/spravochniki.svg')
						span Довідники
					.arc-col-desc
						span Календар, алгоритми заповнення звітів, єдиний закупівельний словник і купа інших цінних даних, які мають бути під рукою
						//- <br />
						//- a(href="https://1gl-vip.expertus.ua/#/document/16/23967/dfas3ox4y9/" target="_blank") Посилання
					.arc-col-title.mt-5
						img(src='./images/journal&book.svg')
						span Журнали та книги
					.arc-col-desc.nb
						span Повні електронні версії професійних журналів у сфері публічних закупівель. Є полиця корисних книг для закупівельників
						//- <br />
						//- a(href="https://1gl-vip.expertus.ua/#/document/16/28518/" target="_blank") Посилання
					
