section.section.reviews
	.container 
		h2.mcfr-title НАМ ДОВІРЯЮТЬ ПРОФЕСІОНАЛИ СВОЄЇ СПРАВИ
		.slideRev
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/eptz5.jpg')")
						//- .user__name Остап Федоренко
					//- div.img-rev
					//- 	img(src="./images/star.png")
					//- 	span 10 з 10

				.review__body 
					p 
						b Ольга Омельченко, 
						<br />
						| Уже 2 роки передплачую журнал «Держзакупівлі». У ньому  прості і зрозумілі тексти, їх легко використовувати в роботі. Підібрана цікава і актуальна судова практика та практика АМКУ. З нетерпінням чекаю на нову систему, в якій можна буде писати свої запитання експертам.
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/epdz1.jpg')")
				.review__body 
					p 
						b Людмила Плохута,
						<br />
						| Журнал «Держзакупівлі» свого роду енциклопедія закупівельника. Подобається, що інформація у ньому з’являється оперативно, є багато відповідей консультацій на актуальні проблемні питання, як застосовувати законодавство про закупівлі. Від новоі системи «Expertus: Держзакупівлі» очікую ще більше консультацій та зручних сервісів.
			
	
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/epdz.jpg')")
				.review__body 
					p 
						b Олександр  Захарченко,
						<br />
						| Журнал щодня допомагає мені орієнтуватися у всіх змінах законодавства і заручатися експертною підтримкою у проблемних робочих ситуаціях.  Зручно користуватися пошуком та сервісами. Усе під рукою. У редакції розповіли про запуск нової системи, яка матиме ще ширший функціонал та бібліотеку книг, відео. Хочу спробувати.
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/eptz2.jpg')")
				.review__body 
					p 
						b Валентина Блажієвська,
						<br />
						| Журналом «Держзакупівлі» користується увесь наш закупівельний відділ. Кожен з нас, від новачка до професіонала, використовує в роботі консультації та поради експертів. Зміни в законодавстві потребують нових знань, які нам допомагають отримати надійні експерти на сторінках журналу. Нещодавно наш персональний менеджер запропонувала перейти на нову систему «Expertus: Держзакупівлі».
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/eptz4.jpg')")
				.review__body 
					p 
						b Катерина Потьомкіна,
						<br />
						| Держзакупівлі став надійним джерелом корисної інформації і незамінним помічником при проведенні закупівель для нашої організації. Довіряємо цьому виданню, тому хочемо спробувати нову систему. Значною перевагою якої є можливість швидко отримати відповідь від провідних фахівців в сфері публічних закупівель.
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/eptz11.jpg')")
				.review__body 
					p 
						b Наталія Брездень, 
						<br />
						| У журналі завжди читаю нову і важливу інформацію. При проведенні закупівель я вчасно враховую всі законодавчі зміни саме завдяки детальним консультаціям експертів Держзакупівель. Менеджер розповіла про запуск нової системи «Expertus: Держзакупівлі” та про її переваги. Я вирішила спробувати і вмовила директора передплатити систему одразу ж на рік. Упевнена, що не пожалкую.
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/eptz7.jpg')")
				.review__body 
					p 
						b Олена Ткаченко, 
						<br />
						| У роботі з журналом подобається, що на будь-яке своє запитання завжди знаходжу точну рекомендацію з прикладами. Читаю журнал «Держазакупівлі»  уже 3 роки. Очікую на нову систему: що більше можливостей у системі, то простіше працювати мені.
			
	
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/pozygyn.jpg')")
				.review__body 
					p 
						b Ганна Падалко, 
						<br />
						| Ціную кожну хвилину і оптимізую власну роботу, використовуючи журнал «Держзакупівлі». Законодавчі норми розписано у консультаціях простою мовою на прикладі робочих ситуацій. З директором погодила передплату нової системи «Expertus: Держзакупівлі»: ще зручніший інтерфейс, ще більше інформації, сервісів та функція «Письмова консультація».
			
	
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/epd10.jpg')")
				.review__body 
					p 
						b Марина Овчиннікова,    
						<br />
						| Журнал «Держзакупівлі» дуже допомагає в роботі. Повна база офіційних документів. Багато цікавих вебінарів від крутих експертів, можна користуватися архівом та книгами. Довіряю експертам журналу і планую користуватися новою системою.
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/otzyvy_photo/eptz6.jpg')")
				.review__body 
					p 
						b Олександра Таванець, 
						<br />
						| Неодноразово  зверталася на Гарячу лінію Держзакупівель для вирішення своїх проблем. Це зручно. Дізналася, що нарешті для закупівельника створили систему, яка поєднує в собі і журнал, і вебінари, і сервіси, які часто використовую в роботі, і ще й письмові відповіді експерти  надаватимуть. Звертатися можна необмежено. Вирішила купити і користуватися.
			
		//- a.button.m-auto.green(href='https://1gl-vip.expertus.ua/#/customer/demo', target='_blank')  Бажаю демодоступ

//- ./images/otzyvy_photo/Stepanov_Veraryj.jpg
//- ./images/otzyvy_photo/Yakymenko_Volodymyr.jpg